In [2]:
import pandas as pd
import sqlite3

In [4]:
df = pd.read_parquet('Data/LTN_to_IAS_round.parquet')

In [5]:
conn = sqlite3.connect('Data/LTN_to_IAS_round.sqlite3')
df.to_sql('Data/LTN_to_IAS.sqlite3', conn)

ValueError: Table 'Data/LTN_to_IAS.sqlite3' already exists.

In [13]:
conn.close()